// Grid settings
$main-sm-columns:               12;
$sidebar-sm-columns:            4;

// Colors
$brand-primary:                 #27ae60;

// Slick paths
$slick-font-path: "../fonts/";
$slick-loader-path: "../images/";

// Custom
$white:                         #FFFFFF;
$athens-gray:                   #FAFAFB;
$porcelain:                     #F1F2F3;
$black:                         #000000;
$asparagus:                     #6CA04B;
$forest-green:                  #278f1e;
$apple:                         #3ba632;
$silver-chalice:                #AAAAAA;

// Theme settings
$bg-color:                      $athens-gray;
$text-color:                    $black;
$border-color:                  $porcelain;
$seperator-color:               $silver-chalice;

$summary-bg-color:              $white;

$header-text-color:             $white;

$link-text-color:               $apple;
$link-bg-color:                 $white;

$summary-link-bg-color:         $apple;
$summary-link-text-color:       $white;

$footer-bg-color:               $athens-gray;
$social-text-color:             $white;

